.footer {
  display: flex;
  /* background-image: linear-gradient(to right, #311150, #ab87ff); */
  background-image: linear-gradient(to right, #311150, #141315); 
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  max-width: 100%;
}

.footer p {
  font-size: 1rem; /* Ou outro tamanho de fonte que você preferir */
  margin: 0;
}

