.footer {
  display: flex;
  /* background-color: #311150; */
  background-image: linear-gradient(to right, #311150, #ab87ff);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
}
