.navbar {
  list-style-type: none;
  font-family: "JetBrains Mono", monospace;
  font-size: large;
  display: flex;
  background-color: #311150;
  padding: 20px 10px;
  margin-top: 0%;
  text-align: center;
  justify-content: center;
}

.navbar a {
  list-style-type: none;
  color: whitesmoke;
  margin-right: 1em;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}

.navbar a:hover {
  list-style-type: none;
  color: rgb(147, 121, 205);
  text-align: center;
}

.navbar li {
  border-right: 1px solid white;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  display: inline-block;
  height: 50px;
}

.navbar li:last-child {
  border-right: none;
  border-left: none;
  text-align: center;
  height: 50px;
}
